.button {
  border: none;
  border-radius: 8px;
  font-size: 28px;
  padding: 4px 16px;
  border: 8px solid #ffffff44;
  color: #00000099;
  cursor: pointer;
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
