@import "./scss/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @extend %font-sans-serif;

  transition: background-color 0.5s, color 0.5s;
}

body {
  background-color: $mint-cream;
}
